<div>
    <h1 class="title">Lista de productos</h1>
    <a href="/crear">Crear producto</a>

    <form action="/products">
    Buscar: <input type="text" name="query" value="{{query}}">
    <input type="submit" value="Buscar">
    
    </form>
    
    <table class="product-list">
        <tr>
            <th>Título</th>
            <th>Descripcion</th>
            <th>Precio</th>
            <th>Miniatura</th>
            <th>Stock</th>
        </tr>
       
        {{#each result.docs}}
        <tr>
            <td>{{this.title}}</td>
            <td>{{this.description}}</td>
            <td>{{this.price}}</td>
            <td><img height="72px" width="72px" src={{this.thumbnail}} /></td>
            <td>{{this.stock}}</td>
        </tr>
        {{/each}}
       
    </table>

</div>

<style>
    table,
    th,
    td {
        border: 1px solid;
    }
    .title {
        text-align: center;
    }
    .product-list {
        width: 100%;
    }
</style>