<div>
    <h1>Producto cargado</h1>

    {{#each savedProduct}}
        <tr>
            <td>{{this.title}}</td>
            <td>{{this.description}}</td>
            <td>{{this.price}}</td>
            <td><img height="72px" width="72px" src={{this.thumbnail}} /></td>
            <td>{{this.stock}}</td>
        </tr>
        {{/each}}

</div>
